# No listar direcotrios sin index
Options -Indexes

# Rutas prohibidas como 404
RedirectMatch 404 ^.*\.md$
RedirectMatch 404 ^.*env\.php$
RedirectMatch 404 tools/.*$

# 404 personalizado
ErrorDocument 404 "{\"service_name\":\"Pass Warriors\",\"success\":false,\"data\":null,\"errors\":[\"Recurso no encontrado\"]}"
