body[data-theme='light'] {
  --pg-title-color: var(--hyper-dark-blue);
  --pg-text-color: var(--hyper-dark-blue);
  --pg-border: 2px solid var(--black);

  --pg-container-background-color: var(--hyper-light-blue);
  --pg-container-separator-color: var(--black);

  --pg-input-background-color: var(--white);
  --pg-input-text-color: var(--dark-blue);
  --pg-input-border-color: var(--dark-blue);

  --pg-button-background-color: var(--light-blue);
  --pg-button-text-color: var(--hyper-white);
  --pg-button-border-color: var(--white);
  --pg-button-blocked-background-color: var(--dark-blue);
  --pg-button-active-background-color: var(--dark-blue);

  --pg-checkbox-accent-color: var(--blue);

  --pg-history-button-background-color: var(--blue);
  --pg-history-item-background-color: var(--blue);
  --pg-history-item-title-color: var(--hyper-white);
  --pg-history-item-subtitle-color: var(--white);

  --pg-table-hover: var(--light-blue);
}

body[data-theme='dark'] {
  --pg-title-color: var(--white);
  --pg-text-color: var(--white);
  --pg-border: 2px solid var(--white);

  --pg-container-background-color: var(--dark-blue);
  --pg-container-separator-color: var(--white);

  --pg-input-background-color: var(--hyper-dark-blue);
  --pg-input-text-color: var(--white);
  --pg-input-border-color: var(--white);

  --pg-button-background-color: var(--light-blue);
  --pg-button-text-color: var(--white);
  --pg-button-border-color: var(--white);
  --pg-button-blocked-background-color: var(--dark-blue);
  --pg-button-active-background-color: var(--hyper-dark-blue);

  --pg-checkbox-accent-color: var(--light-blue);

  --pg-history-button-background-color: var(--blue);
  --pg-history-item-background-color: var(--blue);
  --pg-history-item-title-color: var(--hyper-white);
  --pg-history-item-subtitle-color: var(--white);

  --pg-table-hover: var(--hyper-dark-blue);
}

.pass-container,
.folder-container {
  border: var(--pg-border);
  border-radius: 12px;
  background-color: var(--pg-container-background-color);
  box-shadow: var(--box-shadow-8-8-10);
}

.folder-button {
  border: none;
  background-color: var(--pg-button-background-color);
  color: var(--pg-button-text-color);
}

.folder-button.active {
  background-color: var(--pg-button-active-background-color);
}

.folder-edit-button {
  background-color: var(--blue);
}

.folder-delete-button {
  background-color: var(--red);
}

.folder-add-button,
.pass-add-button {
  background-color: var(--blue);
  border: none;
  color: var(--hyper-white);
}

.table {
  background-color: transparent;
}

.table td,
.table th {
  border-color: var(--pg-border);
}

.table tr:hover:not(:has(th)) {
  background-color: var(--pg-table-hover) !important;
}

.table-text {
  color: var(--pg-text-color);
  font-weight: bolder;
}

.icon-text-color {
  color: var(--pg-text-color) !important;
}
